.optionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100px; /* Делаем шире, чтобы текст влез */
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: grey;
  color: black;
  text-align: center;
}

.button.good {
  background-color: green;
}
.button.neutral {
  background-color: yellow;
  margin-left: 15px;
}
.button.bad {
  background-color: red;
  margin-left: 15px;
}

.active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 15px;

  background-color: darkred;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
}

.reset:hover {
  background-color: red;
}
